body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #d3e440, #ececaa); 
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*   height: 100vh;  */
  margin-top: 0;
}

.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(228, 34, 34, 0.1);
  width: 80%;
}

.profile {
  background-color: rgb(211, 228, 228);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 50%;
  margin: 10px;

}

.profile:hover {
  transform: scale(1.05);
}

.profile:hover .details {
  opacity: 1;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.info-container {
  flex-basis: 60%;
  max-width: 60%;
  display: flex;
  align-items: center;
}

.list{
  width: 90%;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile p {
  margin: 0; 
}

.details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
}

.pagination {
  display: flex;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.app p {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  text-align: center;
}




