/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #4aa9e8, #c1d0df); 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*   height: 100vh;  */
  margin-top: 0;
}

.container {
  background-color: #ca0f0f; /* White Background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(228, 34, 34, 0.1);
  width: 80%; /* Adjust as needed */
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  box-sizing: border-box;
}
.info-container {
  display: flex;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.profile p {
  margin: 0; /* Remove margin for the name */
}

.details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}


